*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* DIMENSIONI BODY E FONT */
body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

/* DIMESIONI HEADER */
.header
{
    margin-top: 20px;
    height: 170px;
}

/* DIMENSIONI LOGO */
#logo{
    padding-right: 1.7%;
    width: 15.74%;
    margin-bottom: 45px;
    border-right: 2px solid lightgray;
}

/* BARRA DI NAVIGAZIONE */
ul.nav{
    padding: 0px;
}

ul.nav li{
    display: inline;
    text-transform: uppercase ;
    padding-right: 10px;
    font-size: 1.3em;
}

/* DISTANZA TRA LE RIGHE NEL MAIN */
main{
    line-height: 1.5em;
}

/* PRIMA SEZIONE */
.section{
    height: 650px;
    margin-top: 45px;
    margin-bottom: 70px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* TESTO DELLA PRIMA SEZIONE */
#testo-sezione-uno{
    color: white;
    position: absolute;
    width: 49.1%;
    height: 20%;
    bottom: 97px;
    left: 72px;
    z-index: 2;
    font-size: 2.5em;
    line-height: 1.1em;
}

#testo-sezione-uno > span{
    font-size: 0.53em;
    line-height: 1.1em;
    display: inline-block;
}

/* OPACITA' GRIGIO SFONDO */
.section:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* SECONDA SEZIONE */
.second-section{
    height: 825px;
    width: 100%;
    margin-bottom: 70px;
}

/* HEADER SECONDA SEZIONE */
.section-header{
    height: 100px;
    margin-bottom: 15px;
}

.section-header h1{
    font-size: 3.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    margin-bottom: 20px;
}

/* PARTE TRIPARTITA SECONDA SEZIONE */
.middle{
    margin: 0px 26px;
    width: calc(60% - 52px);
}

.aside{
    width: 20%;
}

/* IMMAGINI SECONDA SEZIONE */
.left{
    background-image: url(../img/img-1.jpg);
}

.right{
    background-image: url(../img/img-3.jpg);
}

.img-middle{
    background-image: url(../img/banner-2.jpg);
}

/* DIMENSIONI E POSIZIONE IMMAGINI SECONDA SEZIONE */
.img-aside,
.img-middle{
    height: 266px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

.img-aside:after,
.img-middle:after {
    position: absolute;
    width: 100%;
    height: 265px;
    content: " ";
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.aside,
.middle,
.section-header > span{
    font-size: 1.282em;
}

.aside > h3,
.middle > h3{
    padding-bottom: 15px;
    font-weight: 600;
}

/* FOOTER */
.footer{
    height: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5em;
}

.heart{
    color: red;
    font-size: 1.7em;
}

/* CLASSI COMUNI */
.width{
    width: 100%;
}

.float{
    float: left;
}

.round{
    border-radius: 10px;
}

.relative{
    position: relative;
}

.gray{
    color: gray;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



